body {
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

.content-card
{
    background-color:#ffffff !important;
    border:1px solid #d4d4d4;
    margin: 10px;
    padding: 10px;
    -moz-box-shadow:    10px 10px 10px #f0f0f0;
    -webkit-box-shadow: 10px 10px 10px #f0f0f0;
    box-shadow:         10px 10px 10px #f0f0f0;
    width:210px;
    float:left;
    /*height: 100% !important;*/
    /*  -moz-box-shadow:    10px 10px 10px #dddddd;
        padding-left: 5px !important;
        padding-bottom: 0px !important;
        padding-top: 0px !important;*/

}

.content-card img
{
    width: 200px;
    height: auto;
}

.content-card-options
{
    width: 100%;
    float: left;
    margin: 5px;
}

.content-card-title
{
    width: 100%;
    float: left;
    margin: 0px;
    padding-top:5px;padding-bottom:5px;
}

.content-card-line {width:100%; float:left;padding: 0px;margin: 0px;line-height: 1px !important;font-size: 1px;height:auto;}
.content-card-line hr {width:100%;padding: 0px;margin: 0px;line-height: 1px !important;}

.content-card-options a {float: left;font-size: 70%;}
a.content-card-options-right {float: right; font-size: 70%;}

h1#myHeading{
    color: white;
    text-align: center;
    margin: 0px;
    padding: 20px;
    background: #0081E7;
    margin-bottom: 13px;

}




.portfolioFilter {
    text-align: center;
    margin-bottom: 10px;
}

.portfolioFilter a { 
    margin-right: 10px; 
	color:#666;
	text-decoration:none;
}

.portfolioFilter a.current { 
    font-weight:bold;
}


.portfolioContainer img {
    width: 200px !important;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

div.portfolioContainer.isotope {
box-sizing:border-box;
-moz-box-sizing:border-box; /* Firefox */
width:100%;
float:left;
}

div#panel1a.content.active {
box-sizing:border-box;
-moz-box-sizing:border-box; /* Firefox */
width:100%;
float:left;
}

div#contentPanel.content.active {
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    width:100%;
    float:left;
}

.isotope-item {
    z-index: 2;
/*    border:1px solid #d4d4d4;
    margin: 10px;
    -moz-box-shadow:    10px 10px 10px #dddddd;
    -webkit-box-shadow: 10px 10px 10px #dddddd;
    box-shadow:         10px 10px 10px #dddddd;*/
}
.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}

.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}